<%- include("partials/header"); -%>
<div class="mid">
  <img src="<%=imageURL%>" alt="">
  <p class="first">
    <%= content %>
  </p>
  <p class="second">
    <%= body %>
  </p>
</div>


<%- include("partials/footer"); -%>
